<div class='container'>
  <div class='nav-wrapper'>
    <a href='/' class='brand-logo'>&#128209;ProjNotes</a>
    <ul id='nav-mobile' class='right hide-on-med-and-down'>
      <li>
        <a href='/'><i class='material-icons left'>home</i>Inicio</a>
      </li>
      <li><a href='/about'>
      <i class='material-icons left'>business</i>
      Acerca de</a></li>
      <li><a href='/home/menu'>
      <i class='material-icons left'>restaurant</i>
      Menu</a></li>
      <li><a href='/home/pedidos'>
      <i class='material-icons left'>add</i>
      Pedido</a></li>
    </ul>
    <!---Visualizacion de navegacion para amoviles --->
    <a href='#' data-target='slide-out' class='sidenav-trigger'>
      <i class='material-icons'>menu</i>
    </a>
    <ul id='slide-out' class='sidenav'>
      <li>
        <a href='/'>
        <i class='material-icons left'>home</i>
        Inicio
        </a>
      </li>
      <li><a href='/about'>
      <i class='material-icons left'>business</i>
      Acerca de
      </a></li>
      <li><a href='/home/menu'>
      <i class='material-icons left'>restaurant</i>
      Menu
      </a></li>
      <li><a href='/home/pedidos'>
      <i class='material-icons left'>add</i>
      Pedido
      </a></li>
    </ul>
  </div>
</div>