<div class="">
    <h2> Acerca de </h2>
    <p>App que te permite registrar proyectos </p>
    <p> Version: {{ appVersion}} </p>
    </div>
<div class="container">
<center>
<p><font face="Didot,arial,verdana" size="10" color="black">Instituto Tecnologico de Gustavo A. Madero</font></p>
<p><font face="Didot,arial,verdana" size="6" color="black">Programación Web Pila Completa II</font></p>
<p><font face="Didot,arial,verdana" size="5" color="D37BAA">Alumno: Cintia Vanesa Martínez Riaño</font></p>
<center><img src="https://scontent.fmex33-1.fna.fbcdn.net/v/t39.30808-6/286536377_1086340455426339_4867010809953311697_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=e3f864&_nc_ohc=08dwXa6mtocAX_Rbaq-&_nc_ht=scontent.fmex33-1.fna&oh=00_AfCpqjm3wGN6i5xJudT7IPflCRs6AkolA9xyHsVxoUQbmg&oe=63769FA9"  width="900" height="400"/></center>
</center>
</div>
